:root {
  --background-color: #f8f8fc;
  --text-color: #06070a;
  --container-background: #ffffff;
  --primary-color: #4463ee;
  --secondary-color: #793fee;
  --accent-color: #33bdeb;
  --table-header-background: #f2f2f2;
  --table-row-even-background: #f9f9f9;
  --table-row-hover-background: #f1f1f1;
  --border-color: #ddd;
  --input-border-color: #ccc;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  color: var(--text-color);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
  word-wrap: break-word;
}

th {
  background-color: var(--table-header-background);
}

tr:nth-child(even) {
  background-color: var(--table-row-even-background);
}

tr:hover {
  background-color: var(--table-row-hover-background);
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
}

button:hover {
  background-color: var(--secondary-color);
}

input[type="text"] {
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

input.name-input {
  width: calc(33% - 10px);
}

input.value-input {
  width: calc(67% - 10px);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--primary-color);
}

code {
  font: 12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace;
  color: var(--accent-color);
  padding: 2px;
  font-size: 105%;
  word-wrap: break-word;
}

.info-paragraph {
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
}

.inline-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
  background-color: var(--container-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th:nth-child(1),
td:nth-child(1) {
  width: 20%;
}

th:nth-child(2),
td:nth-child(2) {
  width: auto;
}

th:nth-child(3),
td:nth-child(3) {
  width: 10%;
  white-space: nowrap;
}

#cyberchefUrl {
  width: 100%;
  max-width: 600px;
  padding: 5px;
  box-sizing: border-box;
}

.menu {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.menu button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.menu button:hover {
  background-color: var(--secondary-color);
}

.section {
  display: none; /* Hide sections by default */
}

.section.active {
  display: block; /* Show the active section */
}
