body {
  font-family: Arial, sans-serif;
  background-color: #f8f8fc; /* Updated background color */
  color: #06070a; /* Updated text color */
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  color: #06070a; /* Updated text color */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed; /* Ensure table cells do not expand */
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  word-wrap: break-word; /* Ensure long strings wrap within the cell */
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: #4463ee; /* Primary color */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
}

button:hover {
  background-color: #793fee; /* Secondary color */
}

input[type="text"] {
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.name-input {
  width: calc(33% - 10px);
}

input.value-input {
  width: calc(67% - 10px);
}

a {
  color: #33bdeb; /* Accent color */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #4463ee; /* Primary color */
}

code {
  font-family: Consolas, "courier new";
  color: #4463ee; /* Primary color */
  /* background-color: #f1f1f1; */
  padding: 2px;
  font-size: 105%;
  word-wrap: break-word;
}

.info-paragraph {
  font-size: 14px;
  color: #06070a; /* Updated text color */
  background-color: #f8f8fc; /* Updated background color */
  padding: 10px;
  border-radius: 5px;
}

.inline-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
  background-color: #ffffff; /* Updated div background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th:nth-child(1),
td:nth-child(1) {
  width: 20%; /* Name column */
}

th:nth-child(2),
td:nth-child(2) {
  width: auto; /* URL/Recipe column */
}

th:nth-child(3),
td:nth-child(3) {
  width: 10%; /* Action column */
  white-space: nowrap; /* Prevent wrapping */
}

#cyberchefUrl {
  width: 100%; /* Make it take the full width of its container */
  max-width: 600px; /* Optional: Set a maximum width */
  padding: 5px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}
