body {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
  background-color: #f8f8fc;
  margin: 0;
}

h1,
h2,
h3 {
  color: #06070a;
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px; /* Reduced gap */
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #4463ee;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #4463ee;
}

a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #4463ee;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #793fee;
}
